.container {
  max-width: 700px;
  margin: 0 auto;

  @media(max-width: 768px) {
    padding: 0 2rem 3rem;
  }

  > img {
    margin: 2rem 0;
  }

  > button {
    background: transparent;
    border: 0;
    margin-top: 3rem;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;
    outline: none;
    transition: filter 0.2s;
    padding-left: 0.5rem;

    &:hover {
      filter: brightness(0.8);
    }
  }

  > a {
    display: block;
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    transform: translateX(20px, 10px);

    > h1 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    & + a {
      margin-top: 3rem;
    }

    > p {
      margin-top: 0.5rem;
      color: var(--gray-500);
      font-size: 1.125rem;
      line-height: 1.361rem;
    }

    transition: all 0.2s;

    &:hover {
      background: var(--pink-500);
      color: var(--black-500);

      > p {
        filter: invert(1);
      }
    }

    &:hover .info {
      > img {
        filter: invert(1);
      }

      > p {
        filter: invert(1);
      }
    }
  }
}


// .post {
//   width: 100%;

//   > h1 {
//     font-size: 1.25rem;
//     font-weight: 700;
//   }

//   & + div {
//     margin-top: 3rem;
//   }

//   > p {
//     margin-top: 0.5rem;
//     color: var(--gray-500);
//     font-size: 1.125rem;
//     line-height: 1.361rem;
//   }

//   &:hover {
//     background: var(--gray-500);
//   }
// }

.postInfo {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 1rem;
    height: 1rem;
  }

  > p {
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--gray-600);
  }

  & + div {
    margin-left: 1.5rem;
  }
}
